body{
  overflow-x: hidden;
  margin: 0%;
  padding: 0%;
  background: radial-gradient(ellipse at bottom,  #004E8E 30%, #001327);
  min-height: 100vh;
}

a{
  text-decoration: none !important;
}

li{
  margin-bottom: 10px !important;
}

.masterDiv {
  min-height: 100vh;
  align-items: center !important;
  justify-content: center !important;
  align-content: center !important;
}

.bottomBtn{
  position: fixed;
  bottom: 10px;
  right: 0px;
  margin: 10px;
}

.bottomBtn2{
  position: fixed;
  bottom: 10px;
  left: 0px;
  margin: 10px;
}

.navBg{
  background-color: #fafafa13;
}


/* Verify network With Phone Number Styling */
#networkImg:hover{
  transform: scale(1.02);
  transition: ease-in-out;
  transition-duration: 1.5s;
}

.trans{
  background-color: rgba(255, 255, 255, 0.493) !important;
}